# Variables

- variable is use to store the values
- variables can chang their values
- in python letest values will be consider.
- python is step by step process

In [1]:
num=10
num # value 10 is stored on num variable

10

In [2]:
NUM=100
NUM

100

In [3]:
Num=100
Num

100

In [4]:
num123=200
num123

200

In [5]:
123num=300
123num # variable name can't start with number

SyntaxError: invalid decimal literal (189891495.py, line 1)

In [6]:
num@one=123
num@one # variable name can't hold symbols other than _

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2842441409.py, line 1)

In [7]:
num one=100
num one # variable name can't hold space

SyntaxError: invalid syntax (803134326.py, line 1)

In [8]:
num_one=100
num_one # only _ allow in variable name

100

In [9]:
_=200
_ # only _ also will works

200

In [10]:
if=100
if # keyword cant be use as varqiable name

SyntaxError: invalid syntax (344703051.py, line 1)

In [11]:
while=500
while

SyntaxError: invalid syntax (849217708.py, line 1)

- variable are case sensitive

- variable name cdan be CAPILAT or small leter

- Variable name not alow specical chtrater except ubderscore__ _

- only one _ can be a variable name

- Variable can't contain space

- varaable name can't take number as prefix but can hold suffix

- variable name can't be a keyword